In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
filt = (df['last'] == 'Doe') & (df['first'] == 'Jane')

In [13]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com

In [14]:
filt1 = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [15]:
df.loc[filt1]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [16]:
df.loc[~filt1]

  first last              email
1  Jane  Doe  JaneDoe@email.com